{% load static %}


<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularz Login</title>
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/login.css' %}">
</head>
<body>
    <div class="wrapper">

        <span class="icon-close" id="close-icon"><ion-icon name="close"></ion-icon></span>
        <div class="form-box login">
           
           
            <h2>Login</h2>



            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <!-- Pole e-mail -->
                <div class="input-box">
                    <label for="email-input" class="input-label">Adres e-mail:</label>
                    <div class="input-container">
                        <span class="icon"><ion-icon name="mail"></ion-icon></span>
                        <input type="email" name="email" placeholder="Wprowadź swój adres e-mail" required>
                    </div>
                </div>
            
                <!-- Pole hasło -->
                <div class="input-box">
                    <label for="password-input" class="input-label">Hasło:</label>
                    <div class="input-container">
                        <span class="icon"><ion-icon name="lock"></ion-icon></span>
                        <input type="password" name="password" placeholder="Wprowadź swoje hasło" required>
                    </div>
                </div>
            
                <div class="remember-forgot">
                    <label>
                        <input type="checkbox"> Zapamiętaj mnie
                    </label>
                    <a href="#">Zapomniałeś hasła?</a>
                </div>
                <input type="submit" value="Zaloguj" class="btn btn-secondary">
            </form>
            


            
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script src="{% static 'myapp/js/script.js' %}"></script>   

    <script>
        document.getElementById('close-icon').addEventListener('click', function() {
            window.location.href = "{% url 'index' %}";
        });
    </script>

</body>

</html>